body {
  font-family: 'Press Start 2P', cursive;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 50px;
}

.table {
  display: flex;
  justify-content: center;
}

.form {
    justify-content: center;
}

.icon {
  display: flex;
}

.a-button {
  color: white;
}

.push-down {
  margin-top: 20px;
}
/* Dialog modals */
.dialog-menu {
  display: flex;
  justify-content: space-evenly;
}